.navbar{
    margin-top: 0%;
   border-bottom: 1px solid rgba(242, 242, 215, 1);
   height:10%;
   align-items: center;  
   background-color: rgb(255, 255, 255);
   position: sticky;
   top: 0%;
   box-shadow: rgb(89, 89, 90) 0px 0px 10px 0px;
   flex-wrap: wrap;
}


.nav-link{
    text-decoration: none;

}
.navbar >.nav{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 80px 0px 100px;

}
.nav>.nav-items1{
    font-weight: 900;
    font-size: large;
    color: rgba(4, 49, 0, 0.59);
    cursor: pointer;
    /* flex-wrap: wrap; */
}
.nav>.nav-items2{
    font-weight: 600;
    color: rgba(81, 92, 131, 1);
    display: flex;
    cursor: pointer;
    column-gap: 50px;
}

