.home{
    /* margin-top: -2%; */
    background-color: rgb(255, 255, 255) ;
    height: 40%;
}
.home-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23%;
  
    
}
.homeimage{
    gap: 20%;
}